- var url = "/xtf/";
include mixins/all-mixins
doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name="cmsmagazine"  content="f2d72d3408f63252b7c735ac5b026ced")
        link(rel='shortcut icon' type='image/x-icon' href='www//img/favicons/favicon.ico')
        link(rel="icon" type="image/png" sizes="16x16" href="www/img/favicons//favicon-16x16.png")
        link(rel="icon" type="image/png" sizes="32x32" href="www/img/favicons//favicon-32x32.png")
        link(rel="apple-touch-icon" sizes="57x57" href="www/img/favicons//apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="72x72" href="www/img/favicons//apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="114x114" href="www/img/favicons//apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="www/img/favicons//apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="www/img/favicons//apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="www/img/favicons//apple-icon-152x152.png")
        link(rel='stylesheet' href="www/styles/magnific-popup.css")
        link(rel='stylesheet' href="www/scripts/lib/slick-carousel/slick/slick.css")
        link(rel='stylesheet' href="www/styles/app.css")

        block title
            title About
    body
        .l-wrap
            .b-page__wrap
                .b-header__wrapper
                    .b-header.b-header_type_desk
                        .container
                            .b-header__inner
                                a(href=url + "index.html").b-header__logo
                                    +svg('logo')
                                .b-header__menu
                                    ul.b-header__menu-list
                                        li.b-header__menu-item
                                            a.b-header__menu-link.is-active(href=url + "about.html") about
                                        li.b-header__menu-item
                                            a.b-header__menu-link(href=url + "services.html") SERVICES
                                        li.b-header__menu-item
                                            a.b-header__menu-link(href=url + "projects.html") Projects
                                        li.b-header__menu-item
                                            a.b-header__menu-link(href=url + "careers.html") Careers
                                        li.b-header__menu-item
                                            a.b-header__menu-link(href=url + "contacts.html") Contacts
                                .b-header__phone
                                    a(href="tel:+61414084941") +6 141 408 49 41
                    .b-header.b-header_type_mob
                        .b-header__inner
                            a(href=url + "index.html").b-header__logo
                                +svg('logo')
                            .b-header__mobile-menu-wrap
                                .b-header__mobile-menu
                                    ul.b-header__menu-list
                                        li.b-header__menu-item
                                            a.b-header__menu-link.is-active(href=url + "about.html") about
                                        li.b-header__menu-item
                                            a.b-header__menu-link(href=url + "services.html") SERVICES
                                        li.b-header__menu-item
                                            a.b-header__menu-link(href=url + "projects.html") Projects
                                        li.b-header__menu-item
                                            a.b-header__menu-link(href=url + "careers.html") Careers
                                        li.b-header__menu-item
                                            a.b-header__menu-link(href=url + "contacts.html") Contacts
                                .b-header__phone
                                    a(href="tel:+61414084941") +6 141 408 49 41
                            .b-header__hamburger.j-burger
                                span.b-header__hamburger-line
                                span.b-header__hamburger-line
                                span.b-header__hamburger-line
                                span.b-header__hamburger-line
            .container
                .b-page
                    .b-page__inner.b-page__ttl-block
                        h1 Why we are different?
                        .b-page__ttl We have combined analytical and scientific knowledges, innovative materials and technologies, huge building sites experience and using the most contemporary software ensure the highest quality of our product.
                            | We use 3D analytical models and finite elements method for maximum accuracy of calculations. Every 3D analytical model takes into account all aspects of building exploitation and cooperation of all elements considering all loads.
                            | We create a project with the lowest cost of its realization, in the shortest terms and provide our clients with 100% guarantees of quality, safety and comfort.
            .b-about__advantages
                .container
                    .b-about__advantages-inner
                        .b-about__advantages-block
                            .b-about__advantages-block-icon
                                +svg('responsibility')
                            .b-about__advantages-block-txt
                                h2 Responsibility
                                p We provide full set of structural engineering from preliminary consultations and general ideas up to working documentation and site supervising.
                        .b-about__advantages-block
                            .b-about__advantages-block-icon
                                +svg('international')
                            .b-about__advantages-block-txt
                                h2 International experience
                                p We have been working for clients in the USA, Russian Federation, Australia, Europe, Kazakhstan etc.
                        .b-about__advantages-block
                            .b-about__advantages-block-icon
                                +svg('cost')
                            .b-about__advantages-block-txt
                                h2 Cost effectiveness
                                p We provide full set of structural engineering from preliminary consultations and general ideas up to working documentation and site supervising.
                        .b-about__advantages-block
                            .b-about__advantages-block-icon
                                +svg('24hours')
                            .b-about__advantages-block-txt
                                h2 24/7 Support
                                p We are responsible for our work from the first word spoken and until the end of construction. If the client has any questions about our work - there is no weekend for us.
            .b-about__sertificates
                .container
                    .b-about__sertificates-inner
                        .row.b-about__sertificates-block
                            .b-about__sertificates-block-sertificate-logo
                                a(href="https://www.engineersaustralia.org.au" target="_blank").b-about__sertificates-block-logo
                                    img(src=url + "www/img/engeneers.png")
                                a(href=url + "www/pdf/EngineersAustraliaMember.pdf" target="_blank").b-about__sertificates-block-txt-ttl-link view sertificate
                            .b-about__sertificates-block-txt
                                .b-about__sertificates-block-txt-ttl
                                    h3 Engineers Australia
                                .b-about__sertificates-block-txt-wrap
                                    .b-about__sertificates-block-txt-inner
                                        p Engineers Australia is the largest and most diverse body of engineers in Australia. As Australia’s principal engineering association, they serve and represent around 100,000 professionals at every level, across all fields of practice. They are committed to advancing engineering and the professional development of their members.
                                        p They are the trusted authority of a profession that shapes the lives of every Australian. With countless organizations, institutions and government agencies relying on their expertise to create, accredit and assess engineering programs and practitioners, their proven dedication to engineers and the Australian industry is unparalleled.
                        .row.b-about__sertificates-block
                            .b-about__sertificates-block-sertificate-logo
                                a(href="https://www.autodesk.com" target="_blank").b-about__sertificates-block-logo
                                    img(src=url + "www/img/autodesk.png")
                                a(href=url + "www/pdf/RevitArchitecture.pdf" target="_blank").b-about__sertificates-block-txt-ttl-link view sertificate
                                a(href=url + "www/pdf/RevitStructure.pdf" target="_blank").b-about__sertificates-block-txt-ttl-link view sertificate
                            .b-about__sertificates-block-txt
                                .b-about__sertificates-block-txt-ttl
                                    h3 Autodesk
                                .b-about__sertificates-block-txt-wrap
                                    .b-about__sertificates-block-txt-inner
                                        p Building Information Modelling (BIM) is a 3D digital representation of the physical and functional characteristics of a building facility or asset.
                                        p BIM is much more than a documentation tool, it is firstly a platform to manage the design development and documentation  of projects.  It is then the basis for project tendering and construction phase management. Finally, it offers significant benefits to the client for the ongoing running and operations of their asset when coupled with the appropriate facilities management tools.
                        .row.b-about__sertificates-block
                            .b-about__sertificates-block-sertificate-logo
                                a(href="https://scadsoft.com/en" target="_blank").b-about__sertificates-block-logo
                                    img(src=url + "www/img/scad.png")
                            .b-about__sertificates-block-txt
                                .b-about__sertificates-block-txt-ttl
                                    h3 SCAD Office
                                .b-about__sertificates-block-txt-wrap
                                    .b-about__sertificates-block-txt-inner
                                        p SCAD is an integrated system for finite element structural analysis and design.
                                        p SCAD - is a new-generation system developed by engineers for use of engineers and implemented by a team of experienced programmers.
                                        p SCAD includes a highly developed library of finite elements for modeling bar, plate, solid and combined structures, modules of stability analysis, building design stress combinations, verifying stressed state of structural elements according to various failure theories, determining forces with which a fragment affects the whole structure, calculating forces and displacement caused by loading combinations. The system also includes routines for selecting reinforcement for ferroconcrete structural elements and for verifying cross-sections of steelwork structural elements.
                        .row.b-about__sertificates-block
                            .b-about__sertificates-block-sertificate-logo
                                a(href="https://www.liraland.com/lira" target="_blank").b-about__sertificates-block-logo
                                    img(src=url + "www/img/lira.png")
                            .b-about__sertificates-block-txt
                                .b-about__sertificates-block-txt-ttl
                                    h3 LIRA-SAPR
                                .b-about__sertificates-block-txt-wrap
                                    .b-about__sertificates-block-txt-inner
                                        p LIRA-SAPR is comprehensive software package that benefits from BIM technology. The software is intended for analysis and design of building and mechanical engineering structures of different purposes.
                                        p Static (forces and displacements) and dynamic analyses.
                                        p Selection and check for sections of steel and/or reinforced concrete (RC) structures.
                                        p Preliminary drawings of steel structures as well as separate RC elements.
                        .row.b-about__sertificates-block
                            .b-about__sertificates-block-sertificate-logo
                                a(href="https://www.liraland.com/mono" target="_blank").b-about__sertificates-block-logo
                                    img(src=url + "www/img/mono.png")
                            .b-about__sertificates-block-txt
                                .b-about__sertificates-block-txt-ttl
                                    h3 MONOMAKH-SAPR
                                .b-about__sertificates-block-txt-wrap
                                    .b-about__sertificates-block-txt-inner
                                        p MONOMAKH-SAPR software is intended for analysis and design of monolithic reinforced concrete structures and structures with brick walls. It is possible to perform analysis of the whole structure or its separate parts and generate working drawings and reinforcement patterns for structural elements.
            include ../../www/img/sprite/sprite.svg
            script(src="www/scripts/jquery-3.2.1.min.js")
            script(src="www/scripts/app.js")
            script(src="www/scripts/lib/slick-carousel/slick/slick.js")
            script(src="www/scripts/jquery.magnific-popup.min.js")



